@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
$font-family-base: 'Bellefair', serif;

// scss-docs-start theme-color-variables copiado desde bootstrap
$primary: #fd6d0d;
$secondary: #9d71e6;
$success: #41ecd0;
$info: #c4437f;
$warning: rgb(217, 255, 0);
$light: rgb(238, 235, 235);
$dark: rgb(32, 13, 37);
$oscurito: #292929;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map copiado desde bootstrap
$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "light": $light,
    "dark": $dark,
    "oscurito": $oscurito
);
// scss-docs-end theme-colors-map


@import "../../node_modules/bootstrap/scss/bootstrap.scss";


/* Clase personalizada */
.estilodarks {
    background-color: $oscurito;
    color: $secondary;
    font-size: large;
    width: 18rem;
}

.titulo {
    font-style: italic;
    text-decoration: underline 1px;
}

.parrafo {
    border: dashed 1px $info;
    padding: 5px;
}

/* Uso de extend */
.card {
    @extend .estilodarks;

    .card-title {
        color: $warning;
        @extend .titulo;
        /* uso de nesting */
    }

    .card-text {
        @extend .parrafo;
    }
}



/* Otra clase personalizada */
.estiloboton {
    cursor: pointer;
    color: $light;
    transition: .5s;
    background-color: $primary;
}


/* Uso del extend */
.btn {
    @extend .estiloboton;

    &:hover {
        background-color: $info;
        color: $success;
        transition: .5s;
    }
}


/* ----------------------- */

body {
    background-color: $dark;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 30px;
    width: auto;
    height: 100vh;
}